{% extends "base.html" %}
{% block title %}Test Page{% endblock %}
{% block header %}Test Page{% endblock %}

{% block body %}

<div class = "jumbotron text-center">
    <h1 style="font-size: 70">The Math </h1>
    <h2>Purpose</h2>
    <p>Ensure familiar with math behind data
    </p>
</div>

<div class="container-fluid" style="padding:10px">
    <h2>Purpose</h2>
    <p>Evaluate data from AirBNB and Zillow datasets to analyze potential opportunities for real estate investment in the Portland, Oregon area.
    </p>
</div>

<div class="container-fluid" style="padding:10px">
    <div class="row">
        <!--Add Section for filters -->
        <div class="col-sm-3">
            <form>
                <h3>A City of Neighborhoods</h3>
                <p>In its classic quirky fashion, Portland's six main geographical sections (North, Northeast, Northwest, South, Southeast and Southwest) are referred to by residents as the city's "quadrants." The city is divided into north and south by Burnside Street and into east and west by the Willamette River.  Portland actually has more than 90 formally recognized neighborhoods with distinct boundaries.</p>
                <!-- Create a list group to enter our button and user input -->
                
            </form>
        </div>
    </div>
</div>


    <!-- Import "listen" function, data, and JavaScript file for filters script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <!-- <script type="text/javascript" src="../static/js/testing50airbnb.js"></script> -->
    <!-- <script type="text/javascript" src="../static/js/testing50airbnb2.js"></script> -->
    <script type="text/javascript" src="../static/js/testing50airbnb3.js"></script>
    <script type="text/javascript" src="../static/js/app.js"></script>

</div>




{% endblock %}
