<!-- Using index file to build upon base html file -->
<!-- specifically changing page title and body of webpage content -->
{% extends "base.html" %}
{% block title %}A City of Neighborhoods{% endblock %}
{% block header %}A City of Neighborhoods{% endblock %}

{% block body %}

<div class = "jumbotron text-right", style="background-image: url('https://www.sagaftra.org/files/styles/sa_hero_desktop_2x/public/locals_2560x960_Portland.jpg?itok=Eus4HpgI&timestamp=1523991754'); background-repeat: no-repeat; background-size: cover; padding-top: 15%; padding-bottom: 15%;">

    <h1>Discovering Real Estate Investment <br> Opportunities in Portland, Oregon</h1>
    <h3><br><br>Evaluating data from AirBNB and Zillow datasets to <br> analyze potential opportunities for real estate <br> investment in the Portland, Oregon area.
    </h3>

</div>

<div class="container-fluid" style="padding:10px">
    <div class="row"><br><br>
        <!-- <div class="col-sm-12">
            <a href="https://portlandneighborhood.com/portland-neighborhoods" style="font-size: 30px">Interactive Neighborhood Map with Details for the Neighborhoods</a> 
        </div> -->
        <div class="col-sm-6">
            <!-- style="padding: 60px; font-size: 35px;" -->
            <p style="font-size: 28px;">In its classic quirky fashion, Portland's six main geographical sections (North, Northeast, Northwest, South, Southeast and Southwest) are referred to by residents as the city's "quadrants." The city is divided into north and south by Burnside Street and into east and west by the Willamette River.  Portland actually has more than 90 formally recognized neighborhoods with distinct boundaries.</p>
            <a href="https://portlandneighborhood.com/portland-neighborhoods" style="font-size: 23px">Interactive Neighborhood Map with Neighborhood Details</a> 
        </div>
        <div class="col-sm-6">
            <img src="../static/images/neighborhood_summary_pic.PNG" style='height: 85%; width: 85%; object-fit: contain; align-content: right;'/>
            <p style="padding: 10px; font-size: 14px; text-align: right; margin-right: 138px;" href="https://www.travelportland.com/neighborhoods/">Source: www.travelportland.com</p>
        </div>
    </div>
</div>

{% endblock %}