{% extends "base.html" %}
{% block title %}Laura Test{% endblock %}
{% block header %}Laura Test{% endblock %}

{% block body %}
<div class = "jumbotron text-right", style="background-image: url('https://www.sagaftra.org/files/styles/sa_hero_desktop_2x/public/locals_2560x960_Portland.jpg?itok=Eus4HpgI&timestamp=1523991754'); background-repeat: no-repeat; background-size: cover; padding-top: 20%; padding-bottom: 20%;">
    <h1 style="font-size: 70px;">Discovering Real Estate Investment <br> Opportunities in Portland, OR</h1>

    <p style="font-size: 30px;"><br><br>Evaluating data from AirBNB and Zillow datasets to analyze potential<br> opportunities for real estate investment in the Portland, Oregon area.
    </p>
</div>

    <!-- Import "listen" function, data, and JavaScript file for filters script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <!-- <script type="text/javascript" src="../static/js/testing50airbnb.js"></script> -->
    <!-- <script type="text/javascript" src="../static/js/testing50airbnb2.js"></script> -->
    <script type="text/javascript" src="../static/js/testing50airbnb3.js"></script>
    <script type="text/javascript" src="../static/js/app.js"></script>

</div>




{% endblock %}