{% extends "base.html" %}
{% block title %}A City of Neighborhoods{% endblock %}
{% block header %}A City of Neighborhoods{% endblock %}

{% block body %}

<div class="container-fluid" style="padding:10px">
    <div class="row"><br><br>
        <div class="col-sm-12">
            <a href="https://portlandneighborhood.com/portland-neighborhoods" style="font-size: 30px";>Interactive Neighborhood Map with Details for the Neighborhoods</a> 
        </div><br><br><br>
        <div class="col-sm-3">
            <!-- <h3>A City of Neighborhoods</h3> -->
            <p style="padding: 60px; font-size: 35px;">In its classic quirky fashion, Portland's six main geographical sections (North, Northeast, Northwest, South, Southeast and Southwest) are referred to by residents as the city's "quadrants." The city is divided into north and south by Burnside Street and into east and west by the Willamette River.  Portland actually has more than 90 formally recognized neighborhoods with distinct boundaries.</p>
            <p style="padding: 60px; font-size: 14px;">Source: www.travelportland.com</p>
        </div>
        <div class="col-sm-9">
            <img src="../static/images/neighborhood_summary_pic.PNG" style='height: 65%; width: 65%; object-fit: contain'/>
        </div>
    </div>
</div>




    <!-- Import "listen" function, data, and JavaScript file for filters script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <!-- <script type="text/javascript" src="../static/js/testing50airbnb.js"></script> -->
    <!-- <script type="text/javascript" src="../static/js/testing50airbnb2.js"></script> -->
    <script type="text/javascript" src="../static/js/testing50airbnb3.js"></script>
    <script type="text/javascript" src="../static/js/app.js"></script>

</div>




{% endblock %}
