{% extends "base.html" %}
{% block title %}Scott's Page{% endblock %}
{% block header %}Scott's Page{% endblock %}

{% block body %}

<div class="container-fluid" style="padding:10px">
    <div class="row">
        <!--Add Section for filters -->
        <div class="col-sm-3">
            <form>
                <h3>Filter Search Results</h3>
                <!-- Create a list group to enter our button and user input -->
                <ul class="list-group">
                    <!-- drop down menu of neighborhoods -->
                    <!-- <li class="list-group-item">
                        <div class="dropdown">
                            <button onclick="Function()" class="dropbtn">Dropdown</button>
                            <div id="zillow_dropdown" class="'dropdown-content">
                                <input type="text" placeholder="Search" id="zillow_input" onkeyup="filterFunction()">
                                <label for="neighborhood">Neighborhoods</label>
                                <select name="neighborhood" id="neighborhood">
                                    <option>Choose a Neighborhood</option>
                                    <option value="neighborhood1">neighborhood1</option>
                                    <option value="neighborhood2">neighborhood2</option>
                                    <option value="neighborhood3">neighborhood3</option>
                                    <option value="neighborhood4">neighborhood4</option>
                                    <option value="neighborhood5">neighborhood5</option>
                                    <option value="neighborhood6">neighborhood6</option>
                                </select>
                            </div>
                        </div>
                    </li> -->
                    <li class="list-group-item">
                        <label for="price">Min. Price</label>
                        <input type="text" placeholder="200" id="min_price" />
                    </li>
                    <li class="list-group-item">
                        <label for="price">Max. Price</label>
                        <input type="text" placeholder="450" id="max_price" />
                    </li>
                    <li class="list-group-item">
                        <label for="bedrooms">Bedrooms</label>
                        <input type="text" placeholder="3" id="bedrooms" />
                    </li>
                    <li class="list-group-item">
                        <label for="accommodates">Accommodates</label>
                        <input type="text" placeholder="5" id="accommodates" />
                    </li>
                    <li class="list-group-item">
                        <label for="bathrooms">Bathrooms</label>
                        <input type="text" placeholder="1" id="bathrooms" />
                    </li>
                    <!-- <li class="list-group-item">
                        <label for="square">Square Foot</label>
                        <input type="text" placeholder=2687" id="square" />
                    </li> -->
                    <!-- button to apply filters -->
                    <li class="list-group">
                        <button id="filter-btn" type="button" class="btn" class="list-group">
                            Update Filters
                        </button>
                    </li>
                </ul>
            </form>
        </div>

        <!-- Add Section for map -->
        <div class="col-md-9"> 
            <div id="mapid" style="width: 100%; height: 100%;">

                <!-- Leaflet JavaScript -->
                <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
                integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
                crossorigin=""></script>
                
                <!-- API key and JavaScript file to build maps with mapbox-->
                <script type="text/javascript" src="../static/js/config.js"></script>
                <script type="text/javascript" src="../static/js/logic.js"></script>

                <!-- Import "listen" function, data, and JavaScript file for filters script -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
                <script type="text/javascript" src="../static/js/testing50airbnb.js"></script>
                <script type="text/javascript" src="../static/js/app.js"></script>

            </div>
        </div>

        <!-- Add Section for Table -->
        <div class="col-sm-3">
            <h5>Total Locations: 365</h5>
        </div>
        <div class="col-md-9">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Location</th>
                        <th>Price</th>
                        <th>Bedrooms</th>
                        <th>Accommodates</th>
                        <th>Bathrooms</th>
                        <th>Neighborhood</th>
                        <th>Website</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

