<!-- Using zillow file to build upon base html file -->
<!-- specifically changing page title and body of webpage content -->
{% extends "base.html" %}
{% block title %}Portland Zillow Data{% endblock %}
{% block header %}Portland Zillow Data{% endblock %}

{% block body %}
<div class="container-fluid" style="padding:10px">
    <div class="row">
        <!--Add Section for filters -->
        <div class="col-sm-3">
            <form>
                <h3>Filter Search Results</h3>
                <!-- Create a list group to enter our button and user input -->
                <ul class="list-group">
                    <!-- drop down menu of neighborhoods -->
                    <li class="list-group-item">
                        <label for="neighborhood">Neighborhoods</label>
                        <select name="neighborhood" id="neighborhood">
                            <option>Choose a Neighborhood</option>
                            <option value="neighborhood1">neighborhood1</option>
                            <option value="neighborhood2">neighborhood2</option>
                            <option value="neighborhood3">neighborhood3</option>
                            <option value="neighborhood4">neighborhood4</option>
                            <option value="neighborhood5">neighborhood5</option>
                            <option value="neighborhood6">neighborhood6</option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <label for="min_price">Min. Price</label>
                        <input type="text" placeholder="200" id="min_price" />
                    </li>
                    <li class="list-group-item">
                        <label for="max_price">Max. Price</label>
                        <input type="text" placeholder="450" id="max_price" />
                    </li>
                    <li class="list-group-item">
                        <label for="beds">Bedrooms</label>
                        <input type="text" placeholder="3" id="beds" />
                    </li>
                    <li class="list-group-item">
                        <label for="bathroom">Bathrooms</label>
                        <input type="text" placeholder="3" id="bathrooms" />
                    </li>
                    <li class="list-group-item">
                        <label for="square">Square Foot</label>
                        <input type="text" placeholder=2687" id="square" />
                    </li>
                    <!-- button to apply filters -->
                    <li class="list-group">
                        <button id="filter-btn" type="button" class="btn" class="list-group">
                            Update Filters
                        </button>
                    </li>
                </ul>
            </form>
        </div>

        <!-- Add Section for map -->
        <div class="col-md-9"> 
            <div id="mapid" style="width: 100%;; height: 100%;">
                <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
                integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
                crossorigin=""></script>
    
                <!-- API key -->
                <script type="text/javascript" src="../static/js/config.js"></script>
                <!-- Filter data script -->
                <!-- <script type="text/javascript" src="../static/js/app.js"></script> -->
                <!-- Our JavaScript -->
                <script type="text/javascript" src="../static/js/logic.js"></script>

            </div>
        </div>
    </div>
</div>


{% endblock %}

